.genre-filter {
    text-align: center;
    margin: 20px;
  }
  
  .genre-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Enable wrapping if the buttons exceed the width of the container */
  }
  
  .genre-button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 5px; /* Reduce margin to fit 7 buttons in a row */
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    flex-basis:0; /* Distribute the available width equally among the buttons */
    flex-grow: 50%;
  }
  .genre-button.selected {
    background-color: black;
    color: white;
  }
  
  .genre-button:hover {
    background-color: black;
    color: white;
  }
  