.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px;
    color: white;
    font-size: 24px;
  }
  
  .logo {
    font-weight: bold;
  }
  
  .nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
  }
  
  .nav li {
    margin-right: 20px;
  }
  
  .nav a {
    text-decoration: none;
    color: white;
  }
  
  .nav a:hover {
    text-decoration: underline;
  }
  