.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color: #f1f1f1; /* Light gray background color */
  }
  
  .search-bar {
    width: 400px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  
  .search-button {
    background-color: black; /* Blue color for the button */
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .search-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  